html {
    font-size: 16px
}

body {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}

#box {
  width: 80%;
  max-width: 600px;
  margin: 50px auto;
  border: 1px solid #ccc;
  padding: 20px;
}

button {
    padding: 5px 10px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
}

#messages {
  max-height: 300px;
  overflow-y: auto;
}

.message {
  margin-bottom: 10px;
}

.message strong {
  font-weight: bold;
  margin-right: 5px;
}

#input-container {
  margin-top: 20px;
}

input, textarea, button {
  display: block;
  margin-bottom: 10px;
}
